<div class="">
  <div class="detail">
    <h2 class="h2 with-subheader">
    </h2>
    <h3 class="subheader id">State</h3>

    <div class="well" *ngIf="error">
      <p class="error-text">
        <em>{{ error }}</em>
      </p>
    </div>

    <ng-container *ngIf="loading">
      <img src="../../assets/images/sawtooth_logo_loader.gif" class="loader" />
    </ng-container>
    <ng-container *ngIf="!loading && !error">
      <div class="well">
        <table>
          <tr>
            <th>Address</th>
              <th>Data</th>
          </tr>
          <tr *ngFor="let item of stateData">
            <td>{{ item.address }}</td>
            <td>{{ item.data | base64decode }}</td>
          </tr>
        </table>
      </div>
    </ng-container>
  </div>
</div>