<mat-toolbar>
  <a routerLink='/blocks' [queryParams]="{id: head}" color='primary' mat-button>Back</a>
  Batch ID&nbsp;<strong class="title">{{ batchesData?.data?.header_signature }}</strong>
</mat-toolbar>
<h3 style="margin-top:15px;">Transactions</h3>

<mat-card *ngFor="let transaction of batchesData?.data?.transactions;let i=index;" class="mat-elevation-z2">
  <div [@flyInOut]="'in'">
    <strong>ID&nbsp;<span class="highlight">{{ transaction?.header_signature }}</span></strong>
    <div class="content">
      <em>Input Payload</em>
      <pre>{{ transaction?.payload | base64 }}</pre>
    </div>
  </div>
</mat-card>