<mat-toolbar *ngIf="showBack">
  <a routerLink='/blocks' [queryParams]="{id: showBack}" color='primary' mat-button>Back</a>
  Batch ID&nbsp;
  <strong class="title">{{ showBack }}</strong>
</mat-toolbar>
<br>
<div class="mat-elevation-z1">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="namespace">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Namepsace &amp; Address </th>
      <td mat-cell *matCellDef="let element">
        <span class="namespace-type">{{element.namespace | uppercase}}</span>
        <br>
        <a routerLink='/history' [queryParams]="{ address: element?.address }"> {{ element?.address }}</a>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> State Data </th>
      <td class="data-preview" mat-cell *matCellDef="let element">
        <pre [innerHTML]="element.data | base64"></pre>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr [@flyInOut]="'in'" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
