<div class="flex">
  <input matInput type="text" placeholder="state address" [(ngModel)]="address">
  <button mat-button *ngIf="address" matSuffix mat-icon-button aria-label="Clear" (click)="address=''">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="slider">
  <span>
    <pre>Block:- {{ index }}            <mat-slider [max]="heads.length" (change)="onChange()" thumbLabel="true" [(ngModel)]="index" [value]="index"></mat-slider></pre>
  </span>
</div>
<div class="state">
  <mat-card>
    <pre [innerHTML]="state | base64"></pre>
  </mat-card>
</div>

<!-- <pre [innerHTML]="heads | json"></pre> -->