/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  overflow-x: hidden;
}

* {
  font-family: 'Roboto', sans-serif;
}

.data-preview {
  padding-bottom: 10px;
  pre {
    max-height: 200px;
    overflow: scroll;
    max-width: 700px;
    text-overflow: ellipsis;
  }
}
